.header{
    background-color: black;
    height: 75px;
}
.header h3{
    color:white;
}
#magic{
    margin-top: 20%;
    margin-left: 45%;
    height: 100px;
    width:200px;
    background-color: chartreuse;
}
#magic:active{
    background-color: aqua;
}
#video-filters{
    background-color: cornflowerblue;
}
